<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SRP Bench</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3" defer></script>
  <script src="script.js" defer></script>
</head>

<body>

  <header id="header">
    <h1>SRP (Set Row Progression)</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="BenchPress.html">BenchPress</a></li>
        <li><a href="Squat.html">Squat</a></li>
        <li><a href="Deadlift.html">Deadlift</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- input and enter -->
    <!-- <input v-model="newItem" @keyup.enter="endWorkout()" type="text" placeholder="add item"> -->


    <h1>{{ header || 'Welcome' }}</h1>
    <div class="form">

      <input type="number" v-model.number="newWeight" placeholder="Weight">
      <button  @click="setStartingWeight" class="btn btn-primary">
        Set starting weight
      </button>
      <br>
      <p v-model.number="startWeight[0]">{{startWeight[0]}}</p>
      <input  type="number" v-model.number="reps.set1" placeholder="Reps">

      <p>{{startWeight[1]}}</p>
      <input  type="number" v-model.number="reps.set2" placeholder="Reps">

      <p>{{startWeight[2]}}</p>
      <input  type="number" v-model.number="reps.set3" placeholder="Reps">

      <p>{{startWeight[3]}}</p>
      <input  type="number" v-model.number="reps.set4" placeholder="Reps">

      <p>{{startWeight[4]}}</p>
      <input  type="number" v-model.number="reps.set5" placeholder="Reps">
      
      <button  @click="saveItem" class="btn btn-primary">
        End Workout
      </button>
    </div>

    <ul>
      <li v-for="item in items" :key="item.id">
        Set 1.  - {{item.startWeight[0]}} kg - {{item.reps.set1}} 
        Set 2.  - {{item.startWeight[1]}} kg - {{item.reps.set2}}
        Set 3.  - {{item.startWeight[2]}} kg - {{item.reps.set3}}
        Set 4.  - {{item.startWeight[3]}} kg - {{item.reps.set4}}
        Set 5.  - {{item.startWeight[4]}} kg - {{item.reps.set5}}
       
      </li>
    </ul>
    </div>

















































    <!-- <div id="start">

      <label for="">Starting weight for 5x5:</label>
      <input id='startWeight' v-model="startWeight" type="text" >
      <button id='startWeightBtn' @click="setStartingWeight()">Set Weight</button>

    </div>
<br><br>
<button @click="endWorkout()">End workout</button>
<table>
  <thead>
   
    <tr>
      <th >Date:</th> <th>{{date}}</th>
    </tr>
    <tr>
      <th >Total:</th> <th >000</th>
    </tr>
  </thead>
  <tr>
    <th>Set</th> <th>Weight</th> <th>Reps</th>
  </tr>
  <tr>
    <td>1</td>
    <td>{{weight}}</td>
    <td><input type="number" v-model.number="set1" ></td>
  </tr>
  <tr>
    <td>2</td>
    <td>99</td>
    <td><input type="number" v-model.number="set2"></td>
  </tr>
  <tr>
    <td>3</td>
    <td>99</td>
    <td><input type="number" v-model.number="set3"></td>
  </tr>
  <tr>
    <td>4</td>
    <td>9</td>
    <td><input type="number" v-model.number="set4"></td>
  </tr>
  <tr>
    <td>5</td>
    <td>999</td>
    <td><input type="number" v-model.number="set5"></td>
  </tr>
</table>

<br><br>
<button @click="endWorkout()">End workout</button>
<h2>addItem</h2>
      <ol>
        <li v-for="row in rows">
        <p> Workout</p>
        <table>
          <thead>
           
            <tr>
              <th >Date:</th> <th>{{row.date}}</th>
            </tr>
            <tr>
              <th >Total:</th> <th >000</th>
            </tr>
          </thead>
          <tr>
            <th>Set</th> <th>Weight</th> <th>Reps</th>
          </tr>
          <tr>
            <td>1</td>
            <td>{{row.weight[0]}}</td>
            <td><p>{{row.rep[0]}}</p></td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{row.weight[1]}}</td>
            <td><p>{{row.rep[1]}}</p></td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{row.weight[2]}}</td>
            <td><p>{{row.rep[2]}}</p></td>
          </tr>
          <tr>
            <td>4</td>
            <td>{{row.weight[3]}}</td>
            <td><p>{{row.rep[3]}}</p></td>
          </tr>
          <tr>
            <td>5</td>
            <td>{{row.weight[4]}}</td>
            <td><p>{{row.rep[4]}}</p></td>
          </tr>
        </table>
        </li>
      </ol>


   
    <footer></footer> -->

  </main>
</body>

</html>