body, #start, main, .form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;  
   
}
main{
  width: auto;
}
.canvasjs-chart-credit{
  display: none;
}

  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  li {
    margin-right: 20px;
  }
  table{
    
    border: 3px solid rgb(154, 160, 241);
    border-radius: 4px;
    padding: 5px;
    margin: 5px 5px;  
    text-align: center;  
}
input{
  width: 40px;
  text-align: center;
  margin:10px; 
}

