 main, html {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;     
}
#header{
  background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");
  background-size: cover;
  text-align: center;
  color: whitesmoke;
  font-family: system-ui;
  font-weight: 700;
  min-height: 120px;
  margin: 0;
  padding: 0;
}
a {
  font-size: 18px;
  display: block;
  height: 20px;
  width: auto;
  border: 2px solid whitesmoke;
  border-radius: 10%;
  color: white;
  justify-content: center; 
  text-align: center;  

}
.col{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body{
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  background-color: rgb(189, 187, 187);
  max-width: 1000px;
}
main{
  
  width: auto;
}
.canvasjs-chart-credit{
  display: none;
}

  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  li {
    margin-right: 20px;
  }
  table{
    color: white;
    background-color: gray;
    /* border: 3px solid rgb(154, 160, 241); */
    border-radius: 4px;
    padding: 5px;
    margin: 5px 5px;  
    text-align: center;  
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);

}
input{
  width: 40px;
  text-align: center;
  margin:10px; 
}

footer{

  background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/02/grey-honeycomb-pattern.jpg");

  background-size: cover;

  text-align: center;

  color: whitesmoke;

  font-family: system-ui;

  font-weight: 700;

  min-height: 50px;

  margin: 0;

  padding: 0;

}

